extends layout
 
block content
    h1= title
    if (toShow == null)
        h2 No instance to delete
    else
        - let bookid = toShow._id
        - let book_title = toShow.book_title
        - let book_author = toShow.book_author
        - let book_price = toShow.book_price
        - let actionid = "/resource/book/" + bookid
        script.
            let actionid = "#{actionid}"
        div
            div.row
                div(class='bookAttr mr-3') book ID is:
                div #{bookid}
            div.row
                div(class='bookAttr mr-3') book title is:
                div #{book_title}
            div.row
                div(class='bookAttr mr-3') book author is:
                div #{book_author}
            div.row
                div(class='bookAttr mr-3') book Price is:
                div #{book_price}
        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
       
    script.
        function cancel() {
            // Go back to the home page for the book collection
            window.location.href='/book'
        }
    script.
        function deleteOnid() {
            console.log("starting delete")
            // delete first
            fetch(actionid, {
                method: 'DELETE' // Don't need a body for the delete
            }).then((resp) => {
                return resp.text(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Delete succeeded")
                window.location.href='/book'
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Delete failed " + error )
            });
        }