extends layout
block content
    h1= title
    if (toShow == null)
        h2 No deatils found
    else
    - let book_id = toShow._id
    - let book_title  = toShow.book_title 
    - let book_author = toShow.book_author
    - let book_price = toShow.book_price
    div
        div.row
            div(class='bookAttr mr-3') book ID is:
            div #{book_id}
        div.row
            div(class='bookAttr mr-3') book_title  is:
            div #{book_title }
        div.row
            div(class='bookAttr mr-3') book_author is:
            div #{book_author}
        div.row
            div(class='bookAttr mr-3') book_price is:
            div #{book_price}

