extends layout
 
block content
  h1= title
 
  div.container-fluid
    div.row
      -
        let book=result
       
      each book,index in results
        .col-sm-2
        div.col-sm-2(onclick=`buy(${index})`)
       
          p book Type: #{book.book_title}
          p Size: #{book.book_author}
          p Price: $#{book.book_price.toFixed(2)}
 
  a(href="/") Back to index
 
    script.
        function buy(index) {
            alert(`You purchased item ${index}`);
        }
